/* sorry about all the !important bits - facebook overrides it all if they aren't there :( */

.full_widget { background: #F15D22 !important; }
.full_widget, .total, .connections { width: 300px !important; height: 300px !important; }
.full_widget, .connections { overflow: hidden !important; }

.full_widget, .connections { border: 0px !important; }

.grid_item, .connections_grid, .connections, .connect_top { padding: 0px !important; }
.grid_item { width: 50px !important; height: 50px !important; opacity: 0.5 !important; }

.total { position: absolute !important; top: 55px !important; z-index: 50 !important; text-align: center !important; font-size: 48px !important; font-family:"Ubuntu","UbuntuBeta","Droid Sans","Arial",sans-serif !important; text-align: center !important; font-weight: bold !important; color: #fff !important; text-shadow: 1px 1px black !important; }
.total b { font-size: 34px !important; }

.connect_top { position: absolute !important; z-index: 60 !important; top: 300px !important; width:300px !important; width: 290px !important; padding: 5px !important; background: #fff !important; }

.connect_top > a, .connect_top .name_block, td + .connect_widget_vertical_center  { display: none !important; }

.connect_action { padding: 0px !important; }

.connect_widget_interactive_area { margin: 0px !important; }

.connect_widget_like_button { margin-left: 237px !important; }