#footer
{
	border-top: 1px solid #ccc;
	background: #f7f6f5;
	min-height: 100px;
	margin-top: -100px;
	color: #666;
}

#footer #ohso-social
{
	float: left;
	margin: 0px;
	padding: 65px 0px 0px 10px;
	list-style: none;
	color: inherit;
}

	#ohso-social li
	{
		float: left;
		height: 15px;
		overflow: visible auto;
		color: inherit;
	}
	#ohso-social li + li
	{
		border-left: 1px solid #888;
	}

	#ohso-social li a
	{
		display: block;
		text-decoration: none;
		font-size: 10pt;
		padding: 10px;
		margin-top: -12px;
		color: inherit;
	}

#footer #ohso-copy, #footer #ohso-logo
{
	float: right;
	color: inherit;
}
	#ohso-copy
	{
		font-size: 8pt;
		padding: 18px 20px 0px;
	}

	#ohso-logo
	{
		width: 150px;
		height: 100px;
		text-indent: -150px;
		overflow: hidden;
		background: url(../images/assets/ohso.png) no-repeat 50%;
	}