@import url(http://fonts.googleapis.com/css?family=Lato:light,regular,bold);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:regular,bold);
@import url(network.css);
@import url(header.css);
@import url(body.css);
@import url(footer.css);

body, html
{
	margin: 10px 0px;
	padding: 0px;
	background: #f7f6f5;
	font-family: "Ubuntu", "Calibri", "Verdana", "Sans-serif";
}

body * {
	color: #404448;
}

#masthead, #body, #network, #footer
{
	width: 940px;
	margin: 0 auto;
}
